VITE_API_BASE_URL=http://localhost:8081
VITE_APP_NAME=LaborTrack
VITE_GOOGLE_CLIENT_ID= "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJkZXYiLCJzdWIiOiJnbW95YW5vNUBnbWFpbC5jb20iLCJhdXRob3JpdGllcyI6IlJPTEVfQURNSU4iLCJpYXQiOjE3ODg0NjU3NzAsImV4cCI6MTc4ODU1MjE3MCwianRpIjoiNzJlNjIxZmMtZmU4ZS00YTE5LTk4MGEtOWFlMmFhMWQwNjVkIiwibmJmIjoxNzg4NDY1NzcwfQ.x985uUUvFXN3S9AqB4E4GTyOm7eGTA_06JxRxgeHE4I"
